/********* Wood 3D **********/

.form-submit-button-wood_3d{

    cursor: pointer;

    -moz-border-radius:.5em;
    -webkit-border-radius:.5em;
    border-radius:.5em;

    padding:8px 18px;

    color: #5e2003;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;

    text-shadow:1px 1px 0px #eb9b58;

    border:none !important;

    -moz-box-shadow:0 4px 0 0 #91350a, 0px 6px 2px 1px rgba(0, 0, 0, 0.40);
    -webkit-box-shadow:0 4px 0 0 #91350a, 0px 6px 2px 1px rgba(0, 0, 0, 0.40);
    box-shadow:0 4px 0 0 #91350a, 0px 6px 2px 1px rgba(0, 0, 0, 0.40);

    background: #c75e26;
    background-image: url('/images/wood.png');
}

.form-submit-button-wood_3d:hover{

    color: #852d04 !important;
    border:none !important;
    background: #da936e;
    background-image: url('/images/wood.png');
}

.form-submit-button-wood_3d:active{
    
    color: #521c02 !important;
    border:none !important;
    background: #c75e26;
    background: url('/images/wood.png');
    position: relative;
    top: 3px;

    
    -moz-box-shadow:0 2px 0 0 #91350a, 0px 2px 2px 1px rgba(0, 0, 0, 0.40);
    -webkit-box-shadow:0 2px 0 0 #91350a, 0px 2px 2px 1px rgba(0, 0, 0, 0.40);
    box-shadow:0 2px 0 0 #91350a, 0px 2px 2px 1px rgba(0, 0, 0, 0.40);
}
